@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
	!
	important
}

li {
	list-style: none;
}

body {
	font-size: 16px;
	color: #333333;
	font-family: 'Noto Sans KR', sans-serif;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

img {
	width: 100%
}

#wrap {
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
}

#header {
	width: 1500px;
	height: 110px;
	margin: 0 auto;
}

#logo {
	width: 93px;
	height: 55px;
	position: relative;
	top: 30px;
}

#navui1 {
	width: 200px;
	height: 36px;
	float: left;
	position: relative;
	top: -15px;
	left: 120px;
}

#navui2 {
	width: 200px;
	height: 36px;
	float: right;
	position: relative;
	top: -15px;
}

#meet {
	width: 130px;
	height: 36px;
	float: left;
	background-color: #007450;
	text-align: center;
	position: relative;
	margin-left:530px;
	color: white;
	top: -15px;
}

#meet h2 {
	font-size: 16px;
	line-height: 36px;
	font-weight: 700;
}

#board {
	float: left;
	text-align: center;
	margin-left: 40px;
	line-height: 36px;
	font-weight: 500;
}

#notice {
	float: left;
	text-align: center;
	margin-left: 40px;
	line-height: 36px;
	font-weight: 500;
}

#login {
	float: left;
	text-align: center;
	margin-left: 40px;
	line-height: 36px;
	font-weight: 500;
}

#signup {
	float: left;
	text-align: center;
	margin-left: 40px;
	line-height: 36px;
	font-weight: 500;
}

.menu li:after {
	display: block;
	content: '';
	border-bottom: solid 2px black;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

.menu li:hover:after {
	transform: scaleX(1);
}

#searchWrap {
	width: 430px;
	height: 40px;
	float: left;
	left: 300px;
	position: relative;
	display: flex;
	background-color: #f7f8fa;
	padding: 0 1.6rem 0 2rem;
	align-items: center;
	border: 1px solid #dedede;
	border-radius: 0.3rem;
	top: -15px;
}

input::placeholder {
  color: #dcdcdc
}
input[type=text]{
	
	width: 20rem;
    padding: 0;
    border: none;	
    background-color: transparent;
    margin-top:3px;
}

button {border:0; outline:0; background-color:transparent; margin-top:2px; margin-left:18px; padding:0;}
button  img { width: 24px; height:24px; margin-left : 15px;  }

