@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
	!
	important
}

li {
	list-style: none;
}

body {
	font-size: 16px;
	color: #333333;
	font-family: 'Noto Sans KR', sans-serif;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

img {
	width: 100%
}

#kakao { 
	width: 120px; height : 28px;
	position: fixed;
	z-index: 999;
	right: 0px;
	padding: 1em 1em 0px;
	box-sizing: border-box;
	display: none; /* 수정 해야함 */
	align-items: center;
	left:900px;
	top:1900px;
}
#kakao img{width:6%}
#kakao a {
	width: 120px;
	height: 32px;
}