@charset "UTF-8";
input:focus { 
    outline: none !important;
}
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
	!
	important
}

li {
	list-style: none;
}

body {
	font-size: 16px;
	color: #333333;
	font-family: 'Noto Sans KR', sans-serif;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

img {
	width: 100%
}


	


.mypageWrap{
	
	
	margin:0 auto;

	
}

.mypageWrapTop{
	width:1194px;
	padding:40px;
	padding-left:70px;
	padding-top: 70px;
	margin:0 auto;
	height:318px;
	
	
}

.mypageHello { font-size:16px; font-weight:400;}
.mypageName{
	
	font-size:28px; font-weight:700;
	display:inline-block;
	float:left;
	
}

.mypageName span{
	
	font-size:18px; font-weight:300px;
	position:relative;
	left:10px;
	
	}

.mypageOption{
	
	width: 55px !important;
    background-color: white;
    border-radius: 30px;
    border: 1px solid #e6e6e6;
    position: relative;
    left: 30px;
    font-size: 13px;
    top:13px;
}
.topForm{
	display: inline-block;
    position: relative;
}


.mypageTap{
	
	
	width:100%;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	height:60px;
	
	
	
}

#tapui {
	
margin: 0 auto;
    display: flex;
    justify-content: center;
}

#tapui li{
	width:398px;
	height:58px;
	font-size:22px;
	text-align:center;
	line-height:60px;
	cursor:pointer;

	
}

.myon{
	
	border-bottom:4px solid #007450;
}
.mypageConWrap{
		
		width:100%;
		background-color:#fafafa;
		float:left;

}

#mypageCon3{
	
	    display: flex;
    width: 1320px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top:70px;
    display:none;
    
}

#mypageCon1{
	
}

#mypageCon2{
	display:none;
	
}
