<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.team4.mapper.UserMapper">


	<delete id="delete">
		DELETE FROM ${TABLE_USER_TABLE}
		WHERE ${COL_USER_CODE} = #{user_code}
	</delete>



</mapper>